; SPDX-FileCopyrightText: 2024 Stichting Health-RI
;
; SPDX-License-Identifier: Apache-2.0

{:port 3000
 :public-url "http://rems.local.onemilliongenomes.eu/"
 :database-url "postgresql://postgres:5432/rems?user=rems&password=remspassword"
 :search-index-path "/tmp/rems-search-index"
 :authentication :oidc
 :oidc-metadata-url "http://keycloak:8080/realms/rems-idp/.well-known/openid-configuration"
 :oidc-client-id "rems-client"
 :oidc-client-secret "ydZzQ5w73kZQY1wgKHLlGohSLbLip1Bu"
 :oidc-scopes "openid profile email"
 :oidc-userid-attributes [{:attribute "sub"}]
 :oidc-name-attributes ["name" "unique_name" "family_name"]
 :oidc-email-attributes ["email"]
 :log-authentication-details true
 :languages [:en]
 :catalogue-is-public true
 :ga4gh-visa-private-key "/rems/keys/private-key.jwk"
 :ga4gh-visa-public-key "/rems/keys/public-key.jwk"
 :enable-permissions-api true
 :enable-pdf-api true
 :enable-catalogue-tree true
 :catalogue-tree-show-matching-parents true
 :enable-autosave true
 :extra-stylesheets {:root "./" :files ["/theme/styles.css"]}
 :theme-path "/rems/theme/theme.edn"
 :extra-pages-path "/rems/extra-pages"}