[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = *.local.onemilliongenomes.eu

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.local.onemilliongenomes.eu
DNS.2 = catalogue.local.onemilliongenomes.eu
DNS.3 = discover.local.onemilliongenomes.eu
DNS.4 = api.local.onemilliongenomes.eu
DNS.5 = daam.local.onemilliongenomes.eu